<html>
    <head>
        <title>Home</title>
    </head>
    <body bgcolor="green" >
        <h1>Django CSV File Generator</h1>
        <br> 
        <table border="2" style="width: 50%;">
            <thead>
                <tr>
                    <th>Download CSV</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tr>
                <td>
                    All Employees Details
                </td>
                <td>
                <form action="{% url 'csv' %}">
                    {% csrf_token %} 
                    <input type="submit" value="Download" >
                    </form>
                </td>
            </tr>
        </table>
        <br><br>

        <a href="{% url 'upload_csv' %}"><strong>Upload CSV</strong></a>
    </body>
</html>